<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeIsbR8x0HDMTodzYPlU_7tA_Q5BmDPww</string>
	<key>GCM_SENDER_ID</key>
	<string>948962285262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.admob.swiftui</string>
	<key>PROJECT_ID</key>
	<string>admobswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>admobswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948962285262:ios:2b9ee76a6f488f55e9e29f</string>
</dict>
</plist>